.filter {
	padding: 70px 68px 0 60px;
    background-color: var(--basic-grey-light);
    font-size: 14px;
	line-height: 19px;

	&__form {
		width: 200px;
	}

	&__fieldset {
		position: relative;
		margin-bottom: 38px;
		padding: 0;
		border: none;

		&::before {
			content: '';
			position: absolute;
			margin-top: -65px;
			width: 100%;
			height: 2px;
			background-color: var(--basic-black);
		}
	}

	&__legend {
		margin-bottom: 16px;
		padding: 16px 0;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: .1em;
	}

	&__label {
		&:hover {
			opacity: .6;
		}

		&:active {
			opacity: 1;
		}
	}

	&__input:disabled~&__label {
		opacity: .25;
		pointer-events: none;
	}

	&__input:focus-within+&__label::before {
		top: -4px;
		left: -2px;
		padding: 2px;
		height: 28px;
		box-shadow: 0 0 0 2px var(--basic-black);
		box-sizing: border-box;
		border-radius: 2px;
		opacity: .6;
	}

	&__input:active+&__label::before {
		opacity: 1;
	}
}

.price {
	&__bar {
		display: flex;
		align-items: center;
		position: relative;
		height: 2px;
		background-color: var(--background-price-bar);

		&-scale {
			width: 67%;
			height: 2px;
			background-color: var(--special-green);
		}
	}

	&__toggle {
		position: absolute;
		top: -9px;

		&-max {
			left: 114px;
		}
	}

	&__label {
		margin-right: 4px;
	}

	&__value {
		display: flex;
		margin-top: 17px;

		&-input {
			width: 75px;
			margin-right: 4px;
			border: none;
			background-color: transparent;
		}
	}
}

.color {
	&__item:not(:last-child) {
		margin-bottom: 19px;
	}

	&__label {
		position: relative;
		padding-left: 42px;
		box-sizing: border-box;

		&::before {
			content: url('assets/img/svg/checkbox-off.svg');
			position: absolute;
			top: -2px;
			left: 0;
		}
	}

	&__input:checked~&__label::before {
		content: url('assets/img/svg/checkbox-on.svg');
	}
}

.bluetooth {
	&__item:not(:last-child) {
		margin-bottom: 20px;
	}

	&__label {
		position: relative;
		padding-left: 40px;
		box-sizing: border-box;

		&::before {
			content: url('assets/img/svg/radio-off.svg');
			position: absolute;
			top: -2px;
			left: 0;
		}
	}

	&__input:checked~&__label::before {
		content: url('assets/img/svg/radio-on.svg');
	}

	&__input:focus-within+&__label::before {
		border-radius: 50%;
	}
}
