:root {
	--basic-black: #000000;
	--basic-black-active: rgba(0, 0, 0, 0.3);
	--background-price-bar: rgba(0, 0, 0, 0.2);
	--shadow: rgba(0, 0, 0, 0.15);
	--basic-dark: #363636;
	--basic-grey: #464646;
	--basic-white-active: rgba(255, 255, 255, 0.3);
	--basic-half-grey: #7e7e7e;
	--color-disabled: #A6A6A6;
	--background-catalog-img: rgba(238, 238, 238, 0.7);
	--basic-white-hover: rgba(255, 255, 255, 0.7);
	--background-pagination-button: #d9d9d9;
	--background-filter: #dcdcdc;
	--basic-grey-light: #e5e5e5;
	--grey: #eee;
	--background-popup-hover: #eaeaea;
	--background-pagination: #ebebeb;
	--background-popup: #F2F2F2;
	--basic-white: #ffffff;
	--basic-yellow: #FFC600;
	--special-yellow-dark: #F0C52E;
	--special-yellow: #F7E296;
	--special-green: #91C92F;
	--status: #F6DADA;
	--linear-catalog-header: linear-gradient(to right, var(--background-filter) 0, var(--background-filter) 28%, var(--basic-grey-light) 28%, var(--basic-grey-light) 100%);
	--linear-catalog-content: linear-gradient(to right, var(--basic-grey-light) 0, var(--basic-grey-light) 28%, var(--basic-white) 28%, var(--basic-white) 100%);
}
